<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="../../public/semantic-dist/style.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <title>Portal</title>
    <style>
        body {
            background-image: url("../../public/images/back.jpg");
            background-repeat: no-repeat;
        }

    </style>
</head>
<body>
{{{body}}}
<footer>
    <div class="ui inverted black menu" style="height: 10vh;margin-top: 15vh">
        <div class="item">footer</div>
    </div>
</footer>
</body>
</html>