<div class="item">
    <div class="middle aligned content">
        <div class="header">
            <p>{{{subject}}}</p>
        </div>
        <div class="description">
            <div class="description">
                <p>{{{text}}}</p>
            </div>
        </div>
    </div>
</div>